.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
**/src/main/**/build/
**/src/test/**/build/
pom.xml
/target/
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/framework-bom/build
/framework-docs/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
**/src/main/**/bin/
**/src/test/**/bin/
.idea
*.iws
*.iml
*.ipr
out/
**/src/main/**/out/
**/src/test/**/out/
out
test-output
atlassian-ide-plugin.xml
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin
spring-*/src/main/java/META-INF/MANIFEST.MF
.vscode/
/.idea/
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/
jxl.log
jmx.log
derby.log
cached-antora-playbook.yml
# Ignore Spring configuration files
/config/*.properties