# Example Api Configuration
api.client-id=1111AAA
api.url=2222VVV
api.key=production
spring.data.mongodb.host=mongodb-host
spring.data.mongodb.port=mongodb-port
spring.data.mongodb.database=mongodb-database
spring.data.mongodb.userName=mongodb-user-name
spring.data.mongodb.password=mongodb-password